/* colors */
$color--light: #f5f5f5;
$color--dark: #111111;
$color--grey: #383838;
$color--silver: #ebebeb;
$color--background-dm: #1a1a1a;
$color--background-lm: $color--light;
$color--primary: #d32c4f;
$color--secondary: #c5caff;

$color--gradient: linear-gradient(0.25turn, $color--primary, $color--secondary);
$color--gradient-10: linear-gradient(0.4turn, rgba($color--primary, 0.1), rgba($color--secondary, 0.1));

/* breakpoints */
$breakpoint--sm: 640px;
$breakpoint--md: 768px;
$breakpoint--lg: 1024px;
$breakpoint--xl: 1280px;
$breakpoint--xxl: 1536px;

/* spacings */
$space-unit: 1rem;

$space-xs: calc($space-unit / 2);
$space-sm: $space-unit;
$space-md: calc($space-unit * 1.5);
$space-lg: calc($space-unit * 2);
$space-xl: calc($space-unit * 3);
$space-xxl: calc($space-unit * 4);

/* transitions */
$transition--normal: all 300ms ease;

/* gradient */
@mixin gradient($value) {
    border-image: linear-gradient($value, $color--primary, $color--primary, $color--secondary) 1;
}