a {
  color: $color--dark;
  padding: $space-md 0;
  text-decoration: underline;
  transition: $transition--normal;

  &:hover {
    color: $color--primary !important;
  }
}

.dark-mode {
  a {
    color: $color--light;
  }
}

.btn-link {
  background-color: $color--primary;
  border: 2px solid $color--primary;
  border-radius: 100px;
  color: $color--light;
  display: block;
  margin: 0 auto;
  padding: calc($space-unit * 1.25);
  text-decoration: none;
  transition: $transition--normal;

  &:hover {
    background-color: transparent;
    color: $color--primary;
  }
}
